.forgot-password-div,
.change-password-div {
  width: 100%;
  height: 100vh;
  background-color: #f3ecd3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-box,
.change-password-box {
  width: 25%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
  align-items: center;
}

.forgot-password-box .heading {
  width: fit-content;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
}

.not-worry-text {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

.highlight {
  color: rgb(255, 29, 206);
  font-weight: 600;
}

.forgot-email {
  width: 90%;
  padding: 6px 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
}

.note {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.forgot-email:focus {
  box-shadow: none;
  outline: none;
}

.email-send-btn {
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.email-send-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.email-send-btn:focus {
  box-shadow: none;
  outline: none;
}

.otp-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
  transform: translate(-50%, -50%);
  z-index: 200;
  flex-direction: column;
  align-items: center;
}

.enter-otp-text {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 25px;
}

.enter-otp-input {
  width: 50%;
  padding: 3px 8px;
  border: 1px solid black;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.enter-otp-input:focus {
  box-shadow: none;
  outline: none;
}

.continue-otp {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 6px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: transparent;
}

.continue-otp:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .otp-box {
    width: 25%;
  }
}

@media only screen and (max-width: 950px) {
  .forgot-password-box,
  .change-password-box {
    width: 35%;
  }

  .otp-box {
    width: 32%;
  }
}

@media only screen and (max-width: 650px) {
  .forgot-password-box,
  .change-password-box {
    width: 45%;
  }

  .otp-box {
    width: 44%;
  }
}

@media only screen and (max-width: 500px) {
  .forgot-password-box,
  .change-password-box {
    width: 55%;
  }

  .otp-box {
    width: 52%;
  }
}

@media only screen and (max-width: 400px) {
  .forgot-password-box,
  .change-password-box {
    width: 75%;
  }

  .otp-box {
    width: 67%;
  }
}

@media only screen and (max-height: 400px) {
  .forgot-password-box,
  .change-password-box {
    height: 40%;
    overflow-y: scroll;
  }

  .forgot-password-box::-webkit-scrollbar,
  .change-password-box::-webkit-scrollbar {
    display: none;
  }
}
