.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: whitesmoke;
}

.home {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; */
  position: relative;
  height: 100%;
}

.home-second {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.home-content-section {
  padding: 0px 20px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 45%;
}

.home-img {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.home-content-quote {
  width: 90%;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffc0d0;
}

.home-content-author {
  margin-left: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
}

.home-content-motivation {
  width: 85%;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.home-content-link {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-decoration: none;
  color: whitesmoke;
}

.home-content-link:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.home-second-read,
.home-second-write {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-second-read-img,
.home-second-write-img {
  width: 70%;
  margin-bottom: 40px;
}

.home-second-read-question,
.home-second-write-question {
  width: fit-content;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

.home-second-read-link,
.home-second-write-link {
  padding: 10px 40px;
  width: 30%;
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.home-second-read-link:hover,
.home-second-write-link:hover {
  transform: scale(1.05);
}

.home-background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.home-img-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}

.menu-div {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .home-second {
    grid-gap: 50px;
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .home-second {
    grid-gap: 50px;
    width: 100%;
  }

  .home-second-read-question,
  .home-second-write-question {
    font-size: 16px;
  }

  .home-second-read-link,
  .home-second-write-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .home-content-section {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .home-content-section {
    width: 70%;
  }

  .menu-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: black;
    opacity: 0.3;
  }

  .menu-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-color: white;
    z-index: 210;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .translate {
    transform: translateX(0%);
  }

  .menu-div .close-icon {
    width: fit-content;
    margin-bottom: 15px;
    padding: 15px;
  }

  .menu-div .sign-in-link {
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 20px;
  }

  .sign-in-sidebar:hover {
    background-color: rgb(236, 236, 236);
    font-weight: 700;
    cursor: pointer;
    margin: 0;
  }

  .social-media-div {
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .menu-div .links {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .social-media-div .social-media-icon {
    transition: all 0.1s ease-in-out;
  }

  .social-media-div .social-media-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .home-second {
    grid-gap: 0px;
  }

  .home-second-read-link,
  .home-second-write-link {
    width: 50%;
  }

  .home-second-read-img,
  .home-second-write-img {
    width: 80%;
  }

  .menu-div .change-password-btn {
    width: fit-content;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin: 0px;
    margin-left: 20px;
    border: none;
    border-radius: 0px;
    text-align: left;
    padding: 0px;
  }

  .menu-div .link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
  }

  .menu-div .link-container:hover {
    background-color: rgb(236, 236, 236);
    font-weight: 700;
    cursor: pointer;
  }
}

@media only screen and (max-width: 550px) {
  .home-content-section {
    width: 85%;
    padding: 0;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-content-quote {
    font-size: 35px;
  }

  .home-content-author {
    font-size: 14px;
  }

  .home-content-motivation {
    font-size: 17px;
  }

  .home-content-link {
    font-size: 15px;
  }

  .menu-div {
    width: 60%;
  }

  .home-second {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    width: 70%;
    margin-bottom: 30px;
  }

  .home-container {
    height: fit-content;
    margin-top: 100px;
  }

  .home-second-read-link,
  .home-second-write-link {
    width: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .home-second {
    width: 85%;
  }
}

@media only screen and (max-width: 370px) {
  .home-second {
    width: 95%;
  }
}
