.register-container,
.signin-container {
  width: 100%;
  height: 100vh;
  background-color: #f3ecd3;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.register-card,
.signin-card {
  width: 25%;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-header,
.signin-header {
  width: fit-content;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
}

.register-items-div,
.signin-items-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.register-item-name,
.signin-item-name {
  width: fit-content;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  max-width: 30%;
}

.register-item-input,
.signin-item-input {
  width: 60%;
  border: none;
  padding: 6px 10px;
  background-color: #f3ecd3;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.register-item-input:focus,
.signin-item-input:focus {
  box-shadow: none;
  outline: none;
}

.register-btn,
.signin-btn {
  border: 2px solid black;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-bottom: 30px;
}

.register-btn:hover,
.signin-btn:hover {
  cursor: pointer;
  background-color: rgb(72, 72, 72);
  border: 2px solid rgb(72, 72, 72);
}

.register-member,
.signin-member {
  width: fit-content;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.register-sign-in,
.signin-register {
  margin-left: 8px;
  text-decoration: none;
  color: #2cc7bf;
}

.register-sign-in:hover {
  cursor: pointer;
  text-decoration: none;
  color: #2cc7bf;
}

.register-input-div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 6px 10px;
  background-color: #f3ecd3;
}

.password-eye-open:hover,
.password-eye-close:hover {
  cursor: pointer;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  .signin-card,
  .register-card {
    width: 30%;
  }
}

@media only screen and (max-width: 850px) {
  .signin-card,
  .register-card {
    width: 40%;
    padding: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .signin-card,
  .register-card {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .signin-card,
  .register-card {
    width: 70%;
  }

  .signin-header,
  .register-header {
    font-size: 23px;
  }
}

@media only screen and (max-height: 600px) {
  .register-card {
    height: 50%;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 430px) {
  .register-item-name,
  .register-btn,
  .register-member,
  .signin-item-name,
  .signin-btn,
  .signin-member {
    font-size: 15px;
  }

  .register-item-input,
  .signin-item-input {
    font-size: 14px;
  }
}
