.signin-google-btn {
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(201, 201, 201);
  border-radius: 20px;
  margin-bottom: 10px;
  width: 70%;
}

.signin-google-btn:hover {
  cursor: pointer;
}

.signin-google-logo {
  width: 20px;
}

.signin-google-text {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
}

.forgot-password {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: blue;
  text-decoration: none;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
  .signin-google-btn {
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) {
  .signin-google-btn {
    padding: 10px 25px;
  }
}

@media only screen and (max-width: 430px) {
  .signin-google-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1800px) {
  .signin-google-btn {
    width: 80%;
  }

  .signin-google-text {
    font-size: 18px;
  }
}
