.write-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.write-bg-img-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.write-bg-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.write-bg-content,
.write-quote-div {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.write-bg-salutation {
  width: fit-content;
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  font-family: "Quicksand", sans-serif;
}

.write-bg-welcome {
  width: fit-content;
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  font-family: "Quicksand", sans-serif;
}

.write-quote-div {
  top: 78%;
  width: 33%;
}

.write-bg-quote {
  width: fit-content;
  color: black;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: "Quicksand", sans-serif;
}

.write-bg-author {
  width: fit-content;
  margin-left: auto;
  margin-right: 60px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: "Quicksand", sans-serif;
}

.write-bg-svg-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 1;
  height: 50px;
  width: fit-content;
}

.write-bg-svg {
  animation: dropDownAnim 0.7s ease-in-out infinite alternate;
}

.write-bg-svg:hover {
  cursor: pointer;
}

@keyframes dropDownAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.write-section,
.display-section {
  width: 100%;
  background: white;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.display-section {
  background-color: black;
}

.write,
.display {
  width: 80%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
}

.write-header,
.your-work-header {
  width: fit-content;
  font-size: 23px;
  font-weight: 600;
  color: black;
  letter-spacing: 0px;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  font-family: "Quicksand", sans-serif;
}

.your-work-header {
  color: white;
}

.write-main-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.write-main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.write-img-upload-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editorjs-container {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  height: fit-content;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 30px;
}

/* .editor-js-kp2p5f9u {
  width: 100%;
  height: fit-content;
  background: rgb(240, 240, 240);
}

.codex-editor--narrow {
  width: 85%;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  margin-left: 45px;
}*/

/* @media (min-width: 651px) {
  .codex-editor--narrow .codex-editor__redactor {
    margin: 0px;
  }
}  */

.write-img-div {
  width: 80%;
  height: 300px;
  overflow-y: scroll;
  background: rgb(228, 228, 228);
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-img-div::-webkit-scrollbar {
  display: none;
}

.write-img-div::after {
  content: "Select a cover image";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

.write-img-upload-btn,
.preview-btn {
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid black;
  background: white;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.preview-btn {
  margin-left: 20px;
}

.preview-only:nth-child(1) {
  background-color: black;
  color: white;
}

.preview-only:nth-child(1):hover {
  background-color: white;
  color: black;
}

.write-img-upload-btn:hover,
.preview-btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.write-img {
  max-height: 100%;
  z-index: 3;
  width: 100%;
}

.write-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.write-category-select-text,
.write-title-text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
}

.write-category-select-div,
.write-title-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.category-div {
  width: 150px;
  position: relative;
}

.category-select-div:hover {
  cursor: pointer;
}

.category-select-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
}

.select {
  padding: 7px 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.select-div {
  position: absolute;
  z-index: 4;
  top: 100%;
  left: 0;
  right: 0;
  height: 200px;
  overflow-y: scroll;
  background-color: rgb(247, 247, 247);
  /* background-color: white; */
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
}

.select-items {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
  border-bottom: 1px solid rgb(164, 164, 164);
  padding: 5px 0px;
  padding-top: 0px;
}

.select-items:nth-child(10) {
  border: none;
}

.select-items:hover {
  cursor: pointer;
  font-weight: 600;
}

.title-input {
  width: 30%;
  padding: 6px 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 6px;
}

.title-input:focus {
  box-shadow: none;
  outline: none;
}

.backgroundDisplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: black;
  opacity: 20%;
}

.preview-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background-color: white;
  width: 60%;
  min-height: 300px;
  height: 500px;
  overflow-y: scroll;
}

.close-btn-div {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#textarea {
  width: 100%;
}

#textarea * {
  margin-bottom: 10px;
}

#textarea img {
  margin-bottom: 0px;
}

#no-text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.close-icon:hover {
  cursor: pointer;
}

.textarea-div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

.cover-photo {
  width: 100%;
  margin-bottom: 20px;
}

.textarea-title {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.textarea-main-div {
  width: 60%;
}

.line {
  width: 200px;
  height: 1.5px;
  background-color: rgb(224, 224, 224);
  border: none;
  margin-bottom: 30px;
}

.work-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

.no-articles-text {
  width: 100%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .write,
  .display {
    width: 90%;
  }

  .editorjs-container {
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }

  .write-img-div {
    width: 100%;
    height: 250px;
  }

  .work-grid {
    grid-gap: 60px;
  }
}

@media only screen and (max-width: 850px) {
  .write,
  .display {
    width: 92%;
  }

  .editorjs-container {
    grid-template-columns: 2.6fr 1fr;
  }

  .write-img-div {
    height: 200px;
  }

  .work-grid {
    grid-gap: 30px;
    grid-row-gap: 60px;
  }
}

@media only screen and (max-width: 780px) {
  .work-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .write-bg-content {
    top: 15%;
  }

  .write-bg-content,
  .write-quote-div {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .editorjs-container {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }

  .write-img-upload-div {
    grid-row-start: 1;
    width: 50%;
  }

  .write-title-div {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .write-bg-content,
  .write-quote-div {
    width: 85%;
  }

  .write-bg-salutation {
    font-size: 27px;
  }

  .write-bg-welcome {
    font-size: 18px;
  }

  .write-bg-author {
    font-size: 13px;
  }

  .write-header,
  .your-work-header {
    font-size: 21px;
  }

  .write-category-select-text,
  .write-title-text {
    font-size: 15px;
  }

  .select,
  .title-input,
  .preview-btn {
    font-size: 14px;
  }

  .work-grid {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    grid-gap: 0px;
  }

  .work-grid::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .write-bg-content,
  .write-quote-div {
    left: 50%;
    transform: translateX(-50%);
  }

  .write-img-upload-div {
    width: 100%;
  }

  .write-category-select-div,
  .write-title-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .write-category-select-text,
  .write-title-text {
    margin-bottom: 10px;
  }

  .title-input {
    width: 60%;
  }

  .preview-btn {
    margin-left: 10px;
  }
  .write-img-div {
    height: 250px;
  }
}

@media only screen and (max-height: 450px) {
  .write-bg-img-container,
  .write-bg-img {
    height: 600px;
  }
}
