.article-grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-grid-img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.article-grid-img:hover {
  transform: scale(1.1);
}

.article-grid-star-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.article-star {
  margin-right: 3px;
}

.article-grid-author-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.article-profile-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.profile-div {
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.article-author-name {
  margin: 0px 13px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
}

.article-read-time {
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0px;
}

.article-title {
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

.article-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.article-body {
  width: 100%;
  color: #ffd951;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

.article-read-btn {
  width: fit-content;
  padding: 8px 30px;
  border: 2px solid #ffd951;
  border-radius: 20px;
  color: #ffd951;
  font-size: 14px;
  font-weight: 500;
}

.article-read-btn:hover {
  cursor: pointer;
  background: #ffd951;
  color: black;
  font-weight: 600;
}

.article-read-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-grid-img-container {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 75%;
  /* background-color: rgb(224, 253, 227); */
}

@media only screen and (max-width: 500px) {
  .article-grid-item {
    min-width: 270px;
  }

  .article-title {
    font-size: 17px;
  }
}
