.category-grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-grid-img {
  width: 100%;
  margin-bottom: 30px;
}

.category-grid-btn {
  padding: 10px 30px;
  width: 55%;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.category-grid-title {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 6px;
}

.category-grid-btn:hover {
  cursor: pointer;
  background: black;
}

.category-grid-btn:hover .category-grid-title {
  color: white;
}
