.navbar-container {
  padding: 7px 60px;
  background-color: #b5ebff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.5px;
  background-color: #b5ebff;
  text-decoration: none;
  color: black;
}

.navbar-logo:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar-signin-start {
  display: flex;
  align-items: center;
  background-color: #b5ebff;
}

.navbar-signin,
.navbar-get-started,
.navbar-signed-items {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-right: 15px;
  border: none;
  padding: 7px 15px;
  border-radius: 20px;
  background-color: #b5ebff;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  text-decoration: none;
  color: black;
  letter-spacing: 0px;
}

.navbar-signed-items {
  margin-right: 8px;
}

.navbar-signin:hover,
.navbar-signed-items:hover {
  background-color: rgb(235, 235, 235);
  font-weight: 700;
  cursor: pointer;
}

.navbar-signed-items:nth-child(4):hover {
  cursor: pointer;
  background-color: #b5ebff;
}

.navbar-get-started {
  background-color: black;
  color: white;
}

.navbar-get-started:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: none;
  color: white;
}

.navbar-profile-img {
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
}

.prof-img-div-navbar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  padding: 0px;
}

.navbar-menu-logo {
  display: none;
}

@media only screen and (max-width: 700px) {
  .navbar-container {
    padding: 13px 30px;
  }

  .navbar-signin-start {
    display: none;
  }

  .navbar-menu-logo {
    display: block;
  }

  .navbar-menu-logo:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1800px) {
  .navbar-container {
    height: 50px;
  }

  .navbar-logo {
    font-size: 35px;
  }

  .navbar-signin,
  .navbar-get-started,
  .navbar-signed-items {
    font-size: 19px;
  }

  .prof-img-div-navbar {
    width: 40px;
    height: 40px;
  }
}
